In [2]:
import pandas as pd
import statsmodels.api as sm
from patsy import dmatrices

df = pd.read_csv('UniversalBank.csv')
df.head()

,Id,Age,Experience,Income,ZIP_Code,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
#Get dummies
df = pd.get_dummies(df, columns=['Education'])

df.head(3)

,Id,Age,Experience,Income,ZIP_Code,Family,CCAvg,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard,Education_1,Education_2,Education_3
0,1,25,1,49,91107,4,1.6,0,0,1,0,0,0,1,0,0
1,2,45,19,34,90089,3,1.5,0,0,1,0,0,0,1,0,0
2,3,39,15,11,94720,1,1.0,0,0,0,0,0,0,1,0,0

In [6]:
formula = 'Personal_Loan ~ Age + Experience + Income + Family + CCAvg + Education_1 + Education_2 + Education_3 + Mortgage + Securities_Account + CD_Account + Online + CreditCard'

y, X = dmatrices(formula, data = df, return_type='dataframe')

y.head()

   Personal_Loan
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

In [7]:
mod = sm.OLS(y, X)

res = mod.fit()

print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Personal_Loan   R-squared:                       0.397
Model:                            OLS   Adj. R-squared:                  0.395
Method:                 Least Squares   F-statistic:                     273.2
Date:                Wed, 26 Oct 2022   Prob (F-statistic):               0.00
Time:                        23:44:49   Log-Likelihood:                 279.29
No. Observations:                5000   AIC:                            -532.6
Df Residuals:                    4987   BIC:                            -447.9
Df Model:                          12
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.0580      0.053     -1.096      0.273      -0.162       0.046
Age                   -0.0053      0.003     -1.952      0.051      -0.011    2.38e-05
Experience             0.0059      0.003      2.152      0.031       0.001       0.011
Income                 0.0031   9.62e-05     31.854      0.000       0.003       0.003
Family                 0.0302      0.003     10.438      0.000       0.025       0.036
CCAvg                  0.0122      0.002      4.986      0.000       0.007       0.017
Education_1           -0.1193      0.017     -6.912      0.000      -0.153      -0.085
Education_2            0.0261      0.018      1.430      0.153      -0.010       0.062
Education_3            0.0351      0.019      1.826      0.068      -0.003       0.073
Mortgage            6.759e-05   3.27e-05      2.069      0.039    3.55e-06       0.000
Securities_Account    -0.0598      0.011     -5.295      0.000      -0.082      -0.038
CD_Account             0.3261      0.016     20.784      0.000       0.295       0.357
Online                -0.0275      0.007     -4.086      0.000      -0.041      -0.014
CreditCard            -0.0438      0.007     -5.851      0.000      -0.058      -0.029
==============================================================================
Omnibus:                     1287.809   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3280.364
Skew:                           1.396   Prob(JB):                         0.00
Kurtosis:                       5.819   Cond. No.                     1.36e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.77e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.